.new-outfit-page {


	.form-container {
		text-align: center;

		img {
			max-width: 300px;
			margin: 40px;
		}

		form {
			width: 60%;
			margin: 0 auto;

			textarea {
				min-height: 200px;
			}
		}
	}
}