@import 'variables.scss';

.search {

	margin: 3% 20%;

	.search-bar {
		input {
			padding: 10px 20px;
			width: 100%;
			font-size: 1.5em;
			box-sizing: border-box;
		}
		p {
			text-align: center;
			color: grey;
		}
	}

	.search-tags {
		display: flex;
		margin: 20px;
		flex-wrap: wrap;
		justify-content: center;

		.search-tag {
			background: $blue;
			padding: 5px 10px 7.5px 10px;
			border-radius: 3px;
			border: none;
			margin: 0 10px;
			color: white;

			a {
				margin-left: 15px;
				cursor: pointer;
			}
		}
	}
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	padding: 3% 10%;
	justify-content: center;

	.search-result {
		border: 1px solid grey;
		margin: 50px 20px;
		flex: 0 1 30%;

		img {
			width: 100%;
		}
	}
}