
@import url('https://fonts.googleapis.com/css?family=Charmonman');

nav {
	padding: 25px 10px;

	div {
		float: right;
	}

	a {
		margin: 0 30px;
		color: grey;
		text-decoration: none;
		border-bottom: 1px solid grey;
		padding-bottom: 3px;
	}

	.logo {
		font-family: 'Charmonman', cursive;
		border: none;
		font-size: 2em;
	}
}